<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Monad Cat - $title$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/abril.css">
    <link rel="stylesheet" href="/css/syntax.css" />
    <link rel="stylesheet" href="/css/poole.css" />
    <link rel="stylesheet" href="/css/hyde.css" />
    <link rel="stylesheet" href="/css/default.css" />
  </head>
  <body>

    $partial("templates/sidebar.html")$

    <div class="content">
      <div class="page">
        $body$
      </div>
    </div>

  </body>
</html>
